body{
     background-color: #ffffff;
}
h2 {
	font-size: 30px
}
h3 {
	font-size: 24px
}
h1,h2,h3 {
	font-weight: 400;
	margin: 10px 0;
	color: #004e72;
}
.layout-wide {
	letter-spacing: 4px
}
hr {
	color: #31708e;
	border-top: 2px solid;
}
/*navbar*/
nav {
	background-color: #013f6e;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
nav li, nav li a, nav li a:hover {
	color: #ffffff;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	font-size: 20px;
}

nav li a:hover {
	background-color: #105c7e;
}
nav .hi_user li a:hover {
	background-color: #013f6e;
}
nav .right li {
	float: right;
	color: #29abe1;
}
nav .left li {
	float: left;
}
#nav_loged, #nav_not_loged{
	display:none;
}




@media screen and (max-width:767px) {
	nav .left li {
		float: none;
	}
	nav .right li {
		float: none;
		color: #29abe1;
	}
}

.nav_loged, .nav_not_loged{
	display: none;
}


/*global layouts */
.layout-quarter {
	float: left;
	width: 100%;
}
.layout-quarter {
	width: 24.99999%;
}
.layout-quarter {
	padding: 0 0px;
}
.layout-circle {
	border-radius: 50%;
}
.layout-hover-opacity:hover {
	opacity: 0.60;
}
.layout-opacity-off:hover {
	opacity: 1;
}
.layout-container:after,.layout-container:before,.layout-panel:after,.layout-panel:before,.layout-row:after,.layout-row:before,.layout-row-padding:after,
.layout-row-padding:before,.layout-cell-row:before,.layout-cell-row:after,.layout-clear:after,.layout-clear:before,.layout-bar:before,.layout-bar:after {
	content: "";
	display: table;
	clear: both;
}
.layout-container,
.layout-panel {
	padding: 0.01em 16px;
}
.layout-panel {
	margin-top: 16px;
	margin-bottom: 16px;
}
.layout-padding-64 {
	padding-top: 64px!important;
	padding-bottom: 64px!important
}
.layout-center .layout-bar {
	display: inline-block;
	width: auto;
}
.layout-center .layout-bar-item {
	text-align: center;
}


/*popup*/
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.popup {
	margin: 70px auto;
	padding: 2%;
	background: #fff;
	border-radius: 5px;
	width: 70%;
	height: 75%;
	position: relative;
	transition: all 5s ease-in-out;
}
.popup h2 {
	margin: 5%;
	text-align: center;
}
.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.popup .close:hover {
	color: #06D85F;
}
.popup .content {
	max-height: 105%;
	overflow: auto;
}
@media screen and (max-width:767px) {
	.popup h3 {
		font-size: 20px;
	}
}

