html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;	
	font-family:"Segoe UI", Arial, sans-serif;	
} 

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	background: url(../Media/background_3.jpg) center center fixed;
	background-size: cover;
	display: table;
	text-align:center;
	font-family:"Segoe UI", Arial, sans-serif;		
}  

.signup {
	padding: 3em;
	transform: translateX(-50%) tanslateY(-50%);
	margin: auto;
	text-align:center;
}

@media screen and (min-width:800px) and (min-height: 860px){
	.signup {
		position: absolute;
		border: 1px  solid rgba(255,255,255,0.3);
		border-radius: 5px;
		top: 50%;
		left: 50%;		
		max-height: 55%;
		max-width: 30%;		
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;		
	}
	h1 {
		font-size: 5vh;
	}
	p{
		font-size: 2vh;
	}
}

@media screen and (max-width:800px) or (max-height: 860px){
	.signup {
		position: absolute;
		top: 10%;
		left:0%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	h1 {
		font-size: 20px;
	}
	p{
		font-size: 15px;
	}	
}

h1 {
	margin-top: 0px;
	font-family:"Segoe UI", Arial, sans-serif;
	font-weight: lighter;
	color: #fff; 
	font-size: 5vh;
	text-align: center;	
}



input {
	display: run-in;
	width: 320px;
	height: 50px;
	max-width: 80%;
	max-height: 60%;
	background: rgba(0,0,0,0.4);
	border: 1px solid rgba(0,0,0,0.5);
	font-family:"Segoe UI", Arial, sans-serif;
	font-weight: lighter;
	font-size: 100%;
	margin-bottom: 20px;
	padding-left: 10px;
	border-radius: 5px;
	color:white;
}

input:focus {
	background: rgba(0,0,0,0.7);
	outline: none;
	color: white;
}

button {
	width: 330px;
	height: 50px;
	max-width: 90%;
	max-height: 60%;
	font-size: 17px;
	background: #000;
	font-weight: lighter;
	color: #fff;
	border: 0px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.7;
	font-family:"Segoe UI", Arial, sans-serif;	
}

button:hover {
	opacity: 1;
}

a {
	color: white;
	font-style: normal;
}
	
#label {
	font-family:"Segoe UI", Arial, sans-serif;	
}	
	